@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
  overflow-x: hidden !important;
}
svg {
  width: 100px;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}
.side-menu {
  display: none;
}
.cursor {
  height: 0.3vw;
  width: 0.3vw;
  transform: translate(-50%, -50%);
  pointer-events: none;
  position: fixed;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  font-size: 2px !important;
  background-color: black;
}
.special {
  width: 9vw;
  bottom: 3%;
  right: 3%;
  height: 9vw;
  /* background-color: rgb(209, 203, 203); */
  border-radius: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.round text {
  fill: rgb(150, 144, 144);
  font-weight: 500;
  font-size: 18px;
}
.cta-contain {
  /* background-color: aqua; */
  position: relative;
  width: 200px;
  height: 200px;
}
.cta-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87px;
  object-fit: cover;
  border-radius: 50%;
}
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 15px 12px;
}
.mob-menu {
  display: none;
}
.nav-links ul {
  display: flex;
  gap: 40px;
}
.nav-links ul li {
  overflow: clip;
  cursor: pointer;
  list-style: none;
  position: relative;
}
.nav-links ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  transition: 0.3s ease;
  bottom: 0;
  background-color: black;
}
.nav-links ul li:hover::before {
  width: 100%;
  cursor: pointer;
}
.hero-text {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  /* background-color: aqua; */
  gap: 20px;
}
.hero-text h1 {
  line-height: 1.2;
  overflow: clip;
  font-size: 5vw;
  width: 70%;
  /* background-color: aqua; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
.hero-text h1 span {
  overflow: clip;
}
.hero-text p {
  text-align: center;
  width: 70%;
  color: black;
  overflow: clip;
  font-size: 1.5vw;
  font-weight: 500;
}
.hero-vid {
  width: 80%;
  height: 500px;
  /* background-color: aqua; */
  margin: 0% auto;
  border-radius: 20px;
}
.hero-vid video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: clip;
}
.second {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
  height: 700px;
  padding: 10px 0px;
  align-items: center;
}
.sec-video {
  width: 40%;
  height: 80%;
}
.sec-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec-text {
  width: 48%;
  padding: 10px 10px;
  /* background-color: aqua; */
}
.sec-text p {
  letter-spacing: 1px;
  width: 100%;
  font-size: 17px;
}
/* From Uiverse.io by cssbuttons-io */
.sec-text button {
  --color: black;
  font-family: inherit;
  background-color: white;
  display: inline-block;
  width: 11em;
  height: 4em;
  line-height: 2.5em;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 40px;
  font-weight: 500;
  color: var(--color);
}

.sec-text button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 250px;
  border-radius: 50%;
}

.sec-text button:hover {
  color: #fff;
}

.sec-text button:before {
  top: 100%;
  left: 0%;
  transition: all 0.7s;
}

.sec-text button:hover:before {
  top: -30px;
  left: -30px;
}

.sec-text button:active:before {
  background: black;
  transition: background 0s;
}
.services {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 60px 30px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-head {
  padding: 10px 0px;
  width: 80%;
}
.service-head h1 {
  overflow: clip;
  color: white;
  font-size: 5vw;
}
.service-head p{
    padding-top: 70px;
    width: 50%;
    font-size: 20px;
    overflow: clip;
    font-weight: 500;
    color: white;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .nav-links {
    display: none;
  }
  .cursor {
    display: none;
  }
  .navbar {
    width: 90%;
    padding: 10px 0px;
    /* background-color: aqua; */
  }
  /* .side-menu {
      display: block;
      position: absolute;
      top: 0;
      right: -80%; /* hidden by default
      width: 80%;
      height: 100%;
      background: #222;
      color: white;
      overflow-y: auto;
      transition: right 0.3s ease;
      padding-top: 60px;
      z-index: 1000;
    }
    .side-menu.active {
      right: 0 !important;
    } */
  header {
    /* background-color: blue; */
    padding: 10px 0px;
  }
  .mob-menu {
    display: block;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
  }
  .mob-menu button {
    background-color: transparent;
    border: none;
    color: black;
  }
  .mob-menu button i {
    font-size: 25px;
  }
  .hero-text {
    /* background-color: aqua; */
    height: 250px;
    /* padding: 0px 12px; */
    /* align-items: start; */
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .hero-text h1 {
    text-align: start;
    font-size: 7.6vw;
    width: 90%;
  }
  .hero-text p {
    font-size: 4vw;
    width: 90%;
    text-align: start;
  }
  .hero-vid {
    width: 90%;
    height: 300px;
  }
  .special {
    display: none;
  }
  .second {
    margin-top: 0px;
    height: 700px;
    gap: 10px;
    /* background-color: aqua; */
    flex-direction: column-reverse;
  }
  .sec-text {
    height: 45%;
    width: 90%;
  }
  .sec-text p {
    font-size: 3.7vw;
  }
  .sec-text button {
    height: 60px;
    width: 180px;
    /* height: 50%; */
  }
  .sec-video {
    width: 90%;
    height: 50%;
  }
  .services{
    padding: 60px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .service-head h1{
    font-size: 10vw;
  }
  .service-head p{
    width: 100%;
    padding-top: 40px;
    font-size: 15px;
  }
}
